/* Gltich effect */
h2{
    text-shadow: red -3px 0px 3px, cyan 3px 0px 3px;
} 

.box{
    background-color: lightslategray;
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px 10px blueviolet, 10px 10px 5px lightcoral;
    /* to add border using box shadow properties */
    border: 1px solid black;
    
    
    color: lightsalmon;
    
}
h3{
    text-shadow: red -3px 0px 3px, cyan 3px 0px 3px;
} 